.drink-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.drink-card-link:hover .card {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(137, 110, 247, 0.952);
}

.drink-description {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.drink-info {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    font-size: 13px;
    color: var(--text-color);
    opacity: 0.8;
}

.drink-glass {
    padding: 2px 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.ingredient-count {
    padding: 2px 8px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: 12px;
    font-weight: 500;
}

.loading-container, 
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    color: var(--primary-color);
    font-size: 18px;
}

.error-container {
    color: #e74c3c;
} 